.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
}

.container {
  width: 960px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.titleColumn {
  width: calc(100% / 12 * 3);
}

.overviewColumn {
  width: calc(100% / 12 * 5);
}

.popularityColumn {
  width: calc(100% / 12 * 1);
}

.releaseDateColumn {
  width: calc(100% / 12 * 2);
}
